{% extends 'coordinador/coordinador_main.html' %}
{% load static %}
{% block content %}
    <header>
        <h3 class="text-center">Asignaturas</h3>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <button id="btnNuevo" type="button" class="btn btn-info" data-toggle="modal">
                    <i class="material-icons">library_add</i>
                </button>
            </div>
        </div>
    </div>

    <div class="container asignaturas">
        <div class="row">
            <div class="col-lg-12">
                <table id="tablaAsignaturas" class="table table-striped table-bordered table-condensed" style="width:100%">
                    <thead class="text-center">
                        <tr>
                            <th>Asignatura</th>
                            <th>Descripción</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Cienciales Sociales</td>
                            <td>Detalle de prueba de Sociales</td>
                            <td><div class='text-center'><div class='btn-group'><button class='btn btn-primary btn-sm btnEditar'><i class='material-icons'>edit</i></button><button class='btn btn-danger btn-sm btnBorrar'><i class='material-icons'>delete</i></button></div></div></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalCRUD" tabindex="-1" role="dialog" aria-labelledby="modalDocentes" arial-hiddden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalDocentes"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="formAsignaturas">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="" class="col-form-label">
                                        Asignatura
                                    </label>
                                    <input  type="text" class="form-control" id="asignatura"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="" class="col-form-label">
                                        Descripción
                                    </label>
                                    <input  type="text" class="form-control" id="descripcion"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-dismiss="modal">Cancelar</button>
                        <button type="submit" id="btnGuardar" class="btn btn-dark">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}

{% block js %}
    {% load static %}
    <!-- datatables installation -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>

    <script type="text/javascript">
       $(document).ready( function () {
            tablaAsignaturas = $('#tablaAsignaturas').DataTable({
                    responsive : true,
                    autoWidth : false
                    "ajax":{
                        "url": "coordinado/docentes/ver_asignaturas/",
                        "method": 'POST',
                        "data":{'opcion':'opcion'},
                        "dataSrc":""
                    },
                    "columns":[
                        {"data": "asignatura"},
                        {"data": "descripcion"},
                        {"defaultContent": "<div class='text-center'><div class='btn-group'><button class='btn btn-primary btn-sm btnEditar'><i class='material-icons'>edit</i></button><button class='btn btn-danger btn-sm btnBorrar'><i class='material-icons'>delete</i></button></div></div>"}
                    ]
            });

            var fila; //captura la fila, para editar o eliminar
            //submit para el Alta y Actualización
            $('#formAsignaturas').submit(function(e){
                e.preventDefault();
                asignatura = $.trim($('#asignatura').val());
                descripcion = $.trim($('#descripcion').val());
                    $.ajax({
                      url: "bd/crud.php",
                      type: "POST",
                      datatype:"json",
                      data:  { asignatura:asignatura, descripcion:descripcion },
                      success: function(data) {
                        tablaDocentes.ajax.reload(null, false);
                       }
                    });
                $('#modalCRUD').modal('hide');
            });

            //para limpiar los campos antes registrar asignatura
            $("#btnNuevo").click(function(){
                opcion = 1; //alta
                user_id=null;
                $("#formAsignaturas").trigger("reset");
                $(".modal-header").css( "background-color", "#17a2b8");
                $(".modal-header").css( "color", "white" );
                $(".modal-title").text("Nueva Asignatura");
                $('#modalCRUD').modal('show');
            });

            //Editar
            $(document).on("click", ".btnEditar", function(){
                opcion = 2;//editar
                fila = $(this).closest("tr");
                user_id = parseInt(fila.find('td:eq(0)').text()); //capturo el ID
                username = fila.find('td:eq(1)').text();
                first_name = fila.find('td:eq(2)').text();
                last_name = fila.find('td:eq(3)').text();
                gender = fila.find('td:eq(4)').text();
                password = fila.find('td:eq(5)').text();
                status = fila.find('td:eq(6)').text();
                $("#username").val(username);
                $("#first_name").val(first_name);
                $("#last_name").val(last_name);
                $("#gender").val(gender);
                $("#password").val(password);
                $("#status").val(status);
                $(".modal-header").css("background-color", "#007bff");
                $(".modal-header").css("color", "white" );
                $(".modal-title").text("Editar Usuario");
                $('#modalCRUD').modal('show');
            });

            //Borrar
            $(document).on("click", ".btnBorrar", function(){
                fila = $(this);
                user_id = parseInt($(this).closest('tr').find('td:eq(0)').text()) ;
                opcion = 3; //eliminar
                var respuesta = confirm("¿Está seguro de borrar el registro "+user_id+"?");
                if (respuesta) {
                    $.ajax({
                      url: "bd/crud.php",
                      type: "POST",
                      datatype:"json",
                      data:  {opcion:opcion, user_id:user_id},
                      success: function() {
                          tablaUsuarios.row(fila.parents('tr')).remove().draw();
                       }
                    });
                }
             });
        } );
    </script>
{% endblock js %}
