
<!doctype html>
<html lang="en">
    <head>
        <title>Coordinador - Sede Educativa</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        {% block head %}

        {% endblock head %}
     </head>
  <body>

		<div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="custom-menu">
					<button type="button" id="sidebarCollapse" class="btn btn-primary">
	          <i class="fa fa-bars"></i>
	          <span class="sr-only">Toggle Menu</span>
	        </button>
            </div>
	  		<h1><a href="index.html" class="logo">Coordinador</a></h1>
            <ul class="list-unstyled components mb-5">
              <li>
                  <a href="{% url 'crud_docentes' %}"><span class="fa fa-user mr-3"></span> Docentes </a>
              </li>
              <li>
                  <a href="{% url 'crud_grupos' %}"><span class="fa fa-user mr-3"></span> Grupos </a>
              </li>
              <li>
                <a href="{% url 'crud_asignaturas' %}"><span class="fa fa-paper-plane mr-3"></span> Asignaturas</a>
              </li>
              <li>
                <a href="{% url 'crud_clases' %}"><span class="fa fa-paper-plane mr-3"></span> Clases</a>
              </li>
              <li>
                <a href="{% url 'crud_periodos_academicos' %}"><span class="fa fa-sticky-note mr-3"></span> Periodos académicos</a>
              </li>
              <li>
                <a href="{% url 'crud_matriculas' %}"><span class="fa fa-sticky-note mr-3"></span> Matrículas</a>
              </li>
            </ul>
    	</nav>

        <div id="content" class="p-4 p-md-5 pt-5">
            <!-- CONTAINER -->
            <div class="container">
                <br>
                {% block content %}

                {% endblock content %}
            </div>
        </div>
    </div>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
  {% block js %}
  {% endblock js %}
  </body>
</html>