{% extends 'coordinador/coordinador_main.html' %}


{% block head %}

    <!-- datatables installation -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">

{% endblock head %}

{% block content %}

    <header>
        <h3 class="text-center">Docentes</h3>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <button id="btnNuevo" type="button" class="btn btn-info" data-toggle="modal">
                    <i class="material-icons">library_add</i>
                </button>
            </div>
        </div>
    </div>

    <div class="container docentes">
        <div class="row">
            <table id="table_id" class="table table-striped table-bordered table-condensed" style="width:100%">
                <thead class="text-center">
                    <tr>
                        <th>Tipo Documento</th>
                        <th>DNI</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Dirección</th>
                        <th>Teléfono</th>
                        <th>Fecha Nacimiento</th>
                        <th>Correo Electrónico</th>
                        <th>Nivel Académico</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalDocentes" arial-hiddden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalDocentes"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="formDocentes">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    Nombres
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    Apellidos
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}

{% block js %}
    {% load static %}
    <!-- datatables installation -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>

    <script type="text/javascript">
        $(document).ready( function () {
            $('#table_id').DataTable({
            });
        } );

        tablaDocentes = $('#table_id').DataTable({
                responsive : true,
                autoWidth : false,
                "ajax":{
                    "url": "coordinado/docentes/list_docentes/",
                    "method": 'POST',
                    "data":{'opcion':'opcion'},
                    "dataSrc":""
                },
                "columns":[
                    {"data": "asignatura"},
                    {"data": "descripcion"},
                    {"defaultContent": "<div class='text-center'><div class='btn-group'><button class='btn btn-primary btn-sm btnEditar'><i class='material-icons'>edit</i></button><button class='btn btn-danger btn-sm btnBorrar'><i class='material-icons'>delete</i></button></div></div>"}
                ]
        });

        var fila; //captura la fila, para editar o eliminar
        //submit para el Alta y Actualización
        $('#formDocentes').submit(function(e){
            e.preventDefault();
            username = $.trim($('#username').val());
            first_name = $.trim($('#first_name').val());
                $.ajax({
                  url: "bd/crud.php",
                  type: "POST",
                  datatype:"json",
                  data:  {user_id:user_id, username:username, first_name:first_name, last_name:last_name, gender:gender, password:password ,status:status ,opcion:opcion},
                  success: function(data) {
                    tablaDocentes.ajax.reload(null, false);
                   }
                });
            $('#modalCRUD').modal('hide');
        });

    </script>
{% endblock js %}
