{% extends 'coordinador/coordinador_main.html' %}


{% block head %}

    <!-- datatables installation -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">

{% endblock head %}

{% block content %}

    <header>
        <h3 class="text-center">Docentes</h3>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <button id="btnNuevo" type="button" class="btn btn-info" data-toggle="modal">
                    <i class="material-icons">library_add</i>
                </button>
            </div>
        </div>
    </div>

    <div class="container docentes">
        <div class="row">
            <table id="tablaDocentes" class="table table-striped table-bordered table-condensed" style="width:100%">
                <thead class="text-center">
                    <tr>
                        <th>ID</th>
                        <th>DNI</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Dirección</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal fade" id="modalCRUD" tabindex="-1" role="dialog" aria-labelledby="modalCRUD" arial-hiddden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalDocentes"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
              <form id="formDocentes">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    Nombres
                                    <input  type="text" class="form-control" id="first_name"/>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    Apellidos
                                    <input  type="text" class="form-control" id="last_name"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    DNI
                                    <input  type="text" class="form-control" id="dni"/>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    Dirección
                                    <input  type="text" class="form-control" id="direccion"/>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    Email
                                    <input  type="text" class="form-control" id="username"/>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-light" data-dismiss="modal">Cancelar</button>
                                <button type="submit" id="btnGuardar" class="btn btn-dark">Guardar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}

{% block js %}
    {% load static %}
    <!-- datatables installation -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>

    <script type="text/javascript">
    $(document).ready( function () {
            var csrftoken = Cookies.get('csrftoken');
            alert(csrftoken);
            tablaDocentes = $('#tablaDocentes').DataTable({
                    "responsive" : true,
                    "autoWidth" : false,
                    ajax:{
                        "url": "listar_docentes/",
                        "method": 'POST',
                        "data":{'opcion':'opcidon'},
                        "dataSrc":"",
                        "headers": {'X-CSRFToken': csrftoken},
                    },
                    "columns":[
                        {"data": "id"},
                        {"data": "dni"},
                        {"data": "first_name"},
                        {"data": "last_name"},
                        {"data": "direccion"},
                        {"defaultContent": "<div class='text-center'><div class='btn-group'><button class='btn btn-primary btn-sm btnEditar'><i class='material-icons'>edit</i></button><button class='btn btn-danger btn-sm btnBorrar'><i class='material-icons'>delete</i></button></div></div>"}
                    ]
            });
            var fila; //captura la fila, para editar o eliminar/
            $('#formDocentes').submit(function(e){
                e.preventDefault();
                url='';
                if(opcion===1){
                    url = 'registrar_docente/';
                }else{
                    url = 'editar_docente/';
                }
                docente_id = $.trim($('#docente_id').val());
                first_name = $.trim($('#first_name').val());
                last_name = $.trim($('#last_name').val());
                dni = parseInt($.trim($('#dni').val()));
                direccion = $.trim($('#direccion').val());
                username = $.trim($('#username').val());
                    $.ajax({
                      url: url,
                      type: "POST",
                      datatype:"json",
                      data:  {
                                'docente_id' :docente_id,
                                'username' :'docente',
                                'password1' :'Holamundo123',
                                'password2' :'Holamundo123',
                                'first_name' :first_name,
                                'last_name':last_name,
                                'dni':dni,
                                'direccion':direccion,
                                'username':username
                              },
                      headers : {'X-CSRFToken': csrftoken},
                      success: function(data) {
                       }
                    });
                $('#modalCRUD').modal('hide');
            });

            //para limpiar los campos antes registrar asignatura
            $("#btnNuevo").click(function(){
                opcion = 1; //alta
                user_id=null;
                $("#formDocentes").trigger("reset");
                $(".modal-header").css( "background-color", "#17a2b8");
                $(".modal-header").css( "color", "white" );
                $(".modal-title").text("Nuevo Docente");
                $('#modalCRUD').modal('show');
            });

            //Editar
            $(document).on("click", ".btnEditar", function(){
                opcion = 2;//editar
                fila = $(this).closest("tr");
                console.log("-----:..---");
                console.log(fila.find('td:eq(1)').text());
                docente_id = parseInt(fila.find('td:eq(0)').text()); //capturo el ID
                first_name = fila.find('td:eq(1)').text();
                last_name = fila.find('td:eq(2)').text();
                dni = fila.find('td:eq(3)').text();
                direccion = fila.find('td:eq(4)').text();
                $("#docente_id").val(docente_id);
                $("#first_name").val(first_name);
                $("#last_name").val(last_name);
                $("#dni").val(dni);
                $("#direccion").val(direccion);
                $(".modal-header").css("background-color", "#007bff");
                $(".modal-header").css("color", "white" );
                $(".modal-title").text("Editar Asignatura");
                $('#modalCRUD').modal('show');
            });

            //Borrar
            $(document).on("click", ".btnBorrar", function(){
                console.log("test");
                fila = $(this).closest("tr");
                asignatura_id = parseInt($(this).closest('tr').find('td:eq(0)').text()) ;
                asignatura_nombre = fila.find('td:eq(1)').text();
                console.log("id:::");
                console.log(asignatura_id);
                var respuesta = confirm("¿Está seguro de borrar el registro "+asignatura_nombre+"?");
                if (respuesta) {
                    $.ajax({
                      url: "eliminar_docente/",
                      type: "POST",
                      datatype:"json",
                      data:  {"docente_id":docente_id},
                      headers : {'X-CSRFToken': '{{ csrf_token }}'},
                      success: function() {
                          tablaAsignaturas.row(fila.parents('tr')).remove().draw();
                          $('#tablaAsignaturas').draw();
                          tablaAsignaturas.ajax.reload();
                       }
                    });
                }
             });
        } );
    </script>
{% endblock js %}
