

{% extends 'docente/docente_main.html' %}
{% load static %}
{% block content %}
<header xmlns="http://www.w3.org/1999/html">
   <h3 class="text-center">Calificaciones Periodo Académico</h3>
</header>
<div class="container">
   <div class="row">     
   </div>
   {% comment %} 
   <div class="container asistencias">
      <div class="row">
         <div class="col-lg-12">
            <table id="tablaCalificar" class="table table-striped table-bordered table-condensed" style="width:100%">
               <thead class="text-center">
                  <tr>
                     <th>ID</th>
                     <th>CODIGO</th>
                     <th>APELLIDO</th>
                     <th>NOMBRES</th>
                     <th>CALIFICAR</th>
                  </tr>
               </thead>
               <tbody>
               </tbody>
            </table>
         </div>
      </div>
   </div>
   {% endcomment %}
   <div class="container formCalificarPeriodoAcademico">
      <table>
         <tr>
            <th>
              <label for="id_estudiante">
                Estudiante:
              </label>
            </th>
            <td>
               <input type="text" id="estudiante" value="{{ est_nom }}" readonly/>
               <input type="hidden" id="id_estudiante" value="{{ est_id }}" readonly/>
            </td>
         </tr>
         <tr>
            <th><label for="id_clase">Clase:</label></th>
            <td>
               <input type="text" id="clas_nom" value="{{ clas_nom }}" readonly/>
               <input type="hidden" id="id_clase" value="{{ clas_id }}" readonly/>
           </td>
         </tr>
         <tr>
            <th><label for="id_periodo_academico">Periodo academico:</label></th>
            <td>
               <input type="text" name="periodo_academico" required id="id_periodo_academico" value="1" readonly/>
            </td>
         </tr>
         <tr>
            <th><label for="id_calificacion_1">Calificacion 1:</label></th>
            <td>
               <input class="cal_" type="number" name="calificacion_1" step="any" required id="id_calificacion_1" max="5" min="0" value="0">
            </td>
         </tr>
         <tr>
            <th><label for="id_calificacion_2">Calificacion 2:</label></th>
            <td>
               <input class="cal_" type="number" name="calificacion_2" step="any" required id="id_calificacion_2" max="5" min="0" value="0">
            </td>
         </tr>
         <tr>
            <th><label for="id_calificacion_3">Calificacion 3:</label></th>
            <td>
               <input class="cal_" type="number" name="calificacion_3" step="any" required id="id_calificacion_3" max="5" min="0" value="0">
            </td>
         </tr>
         <tr>
            <th><label for="id_calificacion_4">Calificacion 4:</label></th>
            <td>
               <input class="cal_" type="number" name="calificacion_4" step="any" required id="id_calificacion_4" max="5" min="0" value="0">
            </td>
         </tr>
         <tr>
            <th><label for="id_calificacion_5">Calificacion 5:</label></th>
            <td>
               <input class="cal_" type="number" name="calificacion_5" step="any" required id="id_calificacion_5" max="5" min="0" value="0">
            </td>
         </tr>
         <tr>
            <th><label for="id_calificacion_6">Calificacion 6:</label></th>
            <td>
               <input class="cal_" type="number" name="calificacion_6" step="any" required id="id_calificacion_6" max="5" min="0" value="0">
            </td>
         </tr>
         <tr>
            <th><label for="id_calificacion_7">Calificacion 7:</label></th>
            <td>
               <input class="cal_" type="number" name="calificacion_7" step="any" required id="id_calificacion_7" max="5" min="0" value="0">
            </td>
         </tr>
         <tr>
            <th><label for="id_heteroevaluacion">Heteroevaluacion:</label></th>
            <td>
               <input type="number" name="heteroevaluacion" step="any" required id="id_heteroevaluacion" max="5" min="0" value="0" readonly/>
            </td>
         </tr>
         <tr>
            <th><label for="id_examenBimestral">ExamenBimestral:</label></th>
            <td>
               <input class="cal_" type="number" name="examenBimestral" step="any" required id="id_examenBimestral" max="5" min="0" value="0">
            </td>
         </tr>
         <tr>
            <th><label for="id_autoevaluacion">Autoevaluacion:</label></th>
            <td>
               <input class="cal_"type="number" name="autoevaluacion" step="any" required id="id_autoevaluacion" max="5" min="0" value="0">
            </td>
         </tr>
         <tr>
            <th><label for="id_coevaluacion">Coevaluacion:</label></th>
            <td>
               <input class="cal_" type="number" name="coevaluacion" step="any" required id="id_coevaluacion" max="5" min="0" value="0">
            </td>
         </tr>
         <tr>
          <div class="modal-footer">
            <td>
              <button type="button" class="btn btn-light" data-dismiss="modal">Cancelar</button>
            </td>
            <td>
              <button type="submit" id="btnGuardarCalificaciones" class="btn btn-dark">Guardar</button>
            </td>
          </div>
         </tr>
      </table>
      {% comment %} 
      <table>        
         {{ formCalificarPeriodosAcademicos }}
      </table>
      {% endcomment %}
   </div>
</div>
{% endblock content %}
{% block js %}
{% load static %}
<!-- datatables installation -->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
<script type="text/javascript">

  function calcularHeteroevaluacion(){
    var cal1 = parseFloat($("#id_calificacion_1").val());
    var cal2 = parseFloat($("#id_calificacion_2").val());
    var cal3 = parseFloat($("#id_calificacion_3").val());
    var cal4 = parseFloat($("#id_calificacion_4").val());
    var cal5 = parseFloat($("#id_calificacion_5").val());
    var cal6 = parseFloat($("#id_calificacion_6").val());
    var cal7 = parseFloat($("#id_calificacion_7").val());
    var heteroevaluacion = parseFloat(( cal1 + cal2 + cal3 + cal4 + cal5 + cal6 + cal7 ) / 7.0);
    console.log("sumaaa = " + cal1 + cal2 + cal3 + cal4 + cal5 + cal6 + cal7);
    $("#id_heteroevaluacion").val(heteroevaluacion);
  }
  function isFloat(value) {
    if (
      typeof value === 'number' &&
      !Number.isNaN(value) &&
      !Number.isInteger(value)
    ) {
      return true;
    }
  
    return false;
  }

  function validarCalificacion(calificacion){

    valor_calificacion = parseFloat(calificacion.value);
    if (calificacion.value > 5){
      swal("Error validando calificación", "La calificación debe ser menor a 5", "error");
      $("#"+calificacion.id+"").val(0);
    }else if (calificacion.value < 0){
      swal("Error validando calificación", "La calificación debe ser mayor a 0", "error");
      $("#"+calificacion.id+"").val(0);
    }

  }

   $(document).ready( function () {
        var csrftoken = Cookies.get('csrftoken');
        var datatablefull = false;
    
        document.querySelectorAll('.cal_').forEach(function(inputEl) {
          inputEl.addEventListener('change', function() {
            validarCalificacion(this);
          });
        });

        $(document).on("change", ".cal_", function(val){
          calcularHeteroevaluacion();
        });
   
        //btnCalificar 
        $(document).on("click", "#btnGuardarCalificaciones", function(){

         $.ajax({
            url: '',
            type: "POST",
            datatype:"json",
            data:  {
                      'est_id':$("#id_estudiante").val(),
                      'clas_id':$("#id_clase").val(),
                      'id_per_aca':$("#id_periodo_academico").val(),
                      'cal_1':$("#id_calificacion_1").val(),
                      'cal_2':$("#id_calificacion_2").val(),
                      'cal_3':$("#id_calificacion_3").val(),
                      'cal_4':$("#id_calificacion_4").val(),
                      'cal_5':$("#id_calificacion_5").val(),
                      'cal_6':$("#id_calificacion_6").val(),
                      'cal_7':$("#id_calificacion_7").val(),
                      'het_eva':$("#id_heteroevaluacion").val(),
                      'exa_bim':$("#id_examenBimestral").val(),
                      'aut_eva':$("#id_autoevaluacion").val(),
                      'co_eva':$("#id_coevaluacion").val(),
                      
                    },
            headers : {'X-CSRFToken': '{{ csrf_token }}'},
            success: function(data) {
             }
          });
         alert("guardar calificaciones !");
   
        });
   
   
        var fila; //captura la fila, para editar o eliminar/
        //Guardar calificación
        $('#formCalificar').submit(function(e){
            e.preventDefault();
            url='';
            if(opcion===1){
                url = 'guardar_calificacion/';
            }else{
                url = 'editar_calificacion/';
            }
            if(validarFormularioCalificar()){
                estudiante_codigo = $.trim($('#estudiante_codigo').val());
                calificacion = $.trim($('#calificacion').val());
                periodo_academico = $('#periodo_academico').val();
                clase = $.trim($('#clases').val());
                    $.ajax({
                      url: url,
                      type: "POST",
                      datatype:"json",
                      data:  {
                                'estudiante_codigo':estudiante_codigo,
                                'calificacion':calificacion,
                                'clase' : clase,
                                'periodo_academico' : periodo_academico
                              },
                      headers : {'X-CSRFToken': '{{ csrf_token }}'},
                      success: function(data) {
                       }
                    });
                    $('#modalCRUD').modal('hide');
            }
        });
   
        function validarFormularioCalificar(){
            flag = true;
            periodo_academico = $('#periodo_academico').val();
            if(periodo_academico === '' ){
                flag = false;
                alert("Seleccione periodo académico");
            }
            return flag;
        }
   
        //Borrar
        $(document).on("click", ".btnBorrar", function(){
            fila = $(this).closest("tr");
            asignatura_id = parseInt($(this).closest('tr').find('td:eq(0)').text()) ;
            asignatura_nombre = fila.find('td:eq(1)').text();
            var respuesta = confirm("¿Está seguro de borrar el registro "+asignatura_nombre+"?");
            if (respuesta) {
                $.ajax({
                  url: "eliminar_matricula/",
                  type: "POST",
                  datatype:"json",
                  data:  {"id_estudiante":id_estudiante},
                  headers : {'X-CSRFToken': '{{ csrf_token }}'},
                  success: function() {
                      tablaMatriculas.row(fila.parents('tr')).remove().draw();
                      $('#tablaMatriculas').draw();
                      tablaMatriculas.ajax.reload();
                   }
                });
            }
         });
    } );
</script>
{% endblock js %}

