
<!doctype html>
<html lang="en">
    <head>
        <title>Institución Educativa Colombia</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
     </head>
  <body>

		<div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="custom-menu">
					<button type="button" id="sidebarCollapse" class="btn btn-primary">
	          <i class="fa fa-bars"></i>
	          <span class="sr-only">Toggle Menu</span>
	        </button>
            </div>
	  		<h1><a href="index.html" class="logo">{{ user.username }}</a></h1>
            <ul class="list-unstyled components mb-5">
              <li class="active">
                <a href="{% url 'crud_asistencia' %}"><span class="fa fa-home mr-3"></span> Asistencia</a>
              </li>
              <li>
                  <a href="{% url 'crud_calificaciones' %}"><span class="fa fa-user mr-3"></span> Calificaciones </a>
              </li>
              <li class="active">
                <a href="{% url 'ver_asistencias' %}"><span class="fa fa-home mr-3"></span> Ver Asistencias</a>
              </li>
              <li>
                  <a href="{% url 'ver_calificaciones' %}"><span class="fa fa-user mr-3"></span> Ver Calificaciones </a>
              </li>
              <li>
                  <a href="{% url 'ver_boletin' %}"><span class="fa fa-user mr-3"></span> Boletín </a>
              </li>
              <li>
                  <a href="{% url 'cerrar_sesion' %}"><span class="fa fa-user mr-3"></span> Cerrar Sesión </a>
              </li>
            </ul>
    	</nav>

        <div id="content" class="p-4 p-md-5 pt-5">
            <!-- CONTAINER -->
            <div class="container">
                <br>
                {% block content %}

                {% endblock content %}
            </div>
        </div>
    </div>

    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{%static  'js/main.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    {% block js %}
    {% endblock js %}
  </body>
</html>